.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    display: none;
    height: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: none;
}

.show {
    display: block !important;
}

.modal-content {

    transform: translateY(50px);

}

form {
    display: flex;
    flex-direction: column;
}

.add {
    transform: translate(140px, -160px);
    width: 100px;
    padding: 12px;
    border-radius: 12px;
    background: #007bff;
    margin-bottom: 20px;
    transition: all 400ms ease;
    color: aliceblue;
    cursor: pointer;
}

.add:hover {
    background: transparent;
    border: 1px solid #007bff;
    color: black;
}

.avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #007bff;
    border-radius: 50%;
    position: absolute;
    transform: translateX(10px);
    top: 10px;
    left: 10px;
    margin-bottom: 40px;
    cursor: pointer;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        cursor: pointer;
    }
}

.message {
    margin-top: 20px;
    height: 70px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid #007bff;
    padding: 10px;
}

*:focus {
    outline: none;
}

.send {
    transform: translateY(-50px);
    padding: 12px;
    border-radius: 12px;
    background-color: #007bff;
    border: none;
    color: aliceblue;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.send:hover {
    background: transparent;
    border: 1px solid #007bff;
    color: black;
}

.close {
    text-align: center;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
    color: aliceblue;
    transform: translate(260px, -10px);
    cursor: pointer;
}

.btn {
    padding: 12px;
    border-radius: 12px;
    background-color: #007bff;
    border: none;
    color: aliceblue;
    transition: all 400ms ease-in;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    border: 2px solid #007bff;
    color: black;
}